*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    background-color: #5daae5;
    background-image: linear-gradient(160deg, #5daae5 0%, #8ce7dd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:360px;
    height:570px;
    background-color: white;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card img{
    width:100%;
    height:30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card h3{
    font-weight:bolder;
    font-size:1.5rem;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    width:80%;
    text-align: center;
}
.amountbox{
    width:85%;
    height:10%;
    background-color: #8BC6EC;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
     padding-left: 20px;
}
.leftbox{
    height: 100%;
    display: flex;
    justify-content:space-between;
    gap:15px;
    align-items: center;
}
.imgbox img{
    height:3.5rem;
    width:3.5rem;
}
.button{
    width:85%;
    height:10%;
    background-color: rgb(2, 2, 53);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 7px 7px rgba(0,0,0,0.23);
}
.cancelBox a{
    text-decoration: none;
    color: rgb(46, 43, 43);
    font-weight: bold;
    /* font-size: large; */
    font-size: large;
}